<!-- <div>
  <img ng-src="Logo.png" class="logo" style="height:150px; width:150px;margin: 40px 0 0 26%;">
</div>
<div> -->
<!-- <div class="app-header" style="margin-top:0%;">
  Login Page
</div> -->

<div class="row" style="height:150px; width:150px;margin: 93px 0 0 26%;">
  <div class="">
    <div class="row">
        <h4>Forgot Your Password?</h4>
      <form id="resetpwdForm" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="usernameTxt">User Name </label>  
            <div class="controls">
              <input type="text" id="usernameTxt" name="usernameTxt" ng-model="reset.username" class="form-control"  placeholder="Type username" style="margin-top: 8px;"/>

            </div>
          </div>
          
          <br/>
          <div class="button-group">
            <button type="submit" role="submit" class="btn btn-primary btn-block" data-loading-text="Please wait..." style="width:96%;">
              Send me reset password instructions
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>
