<div class="app-header">
  <i class="fa fa-bars fa-2"></i> Send Email
</div>
<!-- <div class="app-header" style="margin-top:0%;">
  Login Page
</div> -->

<div id="mailsent" class="hidden" style="margin-top:5px;">
  <div class="alert alert-success">
    <p>Email successfully sent.</p>
  </div> 
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <form id="emailForm" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="usernameTxt">Email </label>  
            <div class="controls">
              <input type="email" id="emailTxt" name="emailTxt" ng-model="user1.email" class="form-control" />
              <!-- <input type="text" id="usernameTxt" name="usernameTxt" ng-model="user1.first_name" class="form-control"  /> -->
            </div>
          </div>
          
          <div class="button-group">
            <button type="submit" role="submit" class="btn btn-primary btn-block" data-loading-text="Please wait.Email sending..." style="margin-top: 10px;width: 95%;">
              Send
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>